# .env for development
# deploy will use something like GitHub Actions Secrets

CLOUDFLARE_ACCOUNTID="CLOUDFLARE_ACCOUNTID"
CLOUDFLARE_APITOKEN="CLOUDFLARE_APITOKEN"

# TSIG keys need prefix like "hmac-sha256:transfer-key-id:"
TSIG_TRANSFER="TSIG_TRANSFER"
TSIG_UPDATE="TSIG_UPDATE"
